<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>QuickOrder</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errorPages/404.jsp</location>
    </error-page>
    <filter>
        <filter-name>FiltroIPs</filter-name>
        <filter-class>com.quickorder.filters.FiltroURLs</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroRestaurantes</filter-name>
        <filter-class>com.quickorder.filters.FiltroRestaurantes</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroRestaurantes</filter-name>
        <servlet-name>Restaurantes</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroIPs</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.quickorder.controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Restaurantes</servlet-name>
        <servlet-class>com.quickorder.controllers.Restaurantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Imagenes</servlet-name>
        <servlet-class>com.quickorder.controllers.Imagenes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/casa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>com.quickorder.controllers.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.quickorder.controllers.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>com.quickorder.controllers.Sesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/sesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>com.quickorder.controllers.Busqueda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Restaurantes</servlet-name>
        <url-pattern>/restaurantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Imagenes</servlet-name>
        <url-pattern>/imagenes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <description>Porque comer hace bien...</description>
</web-app>
